#filterText {
    width: 20%;
    margin-left: 10px;
    margin-top: 15px;
}

#filterLabel {
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 1%;
}

#form {
    margin: 1%;
}

#paging {
    margin: 1%;
}

#div {
    margin: 1
}
