<div>
  <a routerLink="/therapist-home-screen">Home</a>
  <a routerLink="/therapist-roster-screen"> Patient Roster</a>
  <a routerLink="/add-patient-screen"> Add Patient</a>
</div>
<h2>Patient Feedback</h2>
<ul class="therapist-home-screen">
  <li *ngFor="let patient of feedback">
    <span class="badge">{{patient.id}}</span> {{patient.name}}
  </li>
</ul>
<h2>Late Patients</h2>
<ul class="therapist-home-screen">
  <li *ngFor="let patient of late">
    <span class="badge">{{patient.id}}</span> {{patient.name}}
  </li>
</ul>