<div>
  <a routerLink="/therapist-home-screen">Home</a>
  <a routerLink="/therapist-roster-screen"> Patient Roster</a>
  <a routerLink="/add-patient-screen"> Add Patient</a>
</div>
<h2>Patient Feedback</h2>
<ul>
  <li *ngFor="let response of feedback | slice:0:5;">
    <span class="badge">{{response.patientId}}</span> {{response.patient.firstName}} <span>{{response.patient.lastName}}</span>
  </li>
</ul>
<h2>Late Patients</h2>
<ul>
  <li *ngFor="let response of late | slice:0:5;">
    <span class="badge">{{response.patientId}}</span> {{response.patient.firstName}} <span>{{response.patient.lastName}}</span>
  </li>
</ul>