<datalist id="exerciseList"></datalist>
<datalist id="patientList"></datalist>

<div class="form-group form-inline">
  <a class="nav-link" routerLink="/therapist-home-screen">Home</a>
  <a class="nav-link" routerLink="/therapist-roster-screen"> Patient Roster</a>
  <a class="nav-link" routerLink="/add-patient-screen"> Add Patient</a>
  <a class="nav-link" routerLink="/therapist-routine-creation-screen"> Create a Routine</a>
</div>

<div class>
  <div class="form-group form-inline">
    <br>
    <span id="patientLabel" class="h3 monospace">Patient: </span>
    <input class="form-control" id="listInput" list="patientList">
  </div>
  <button (click)="addExerciseTemplate()" class="btn btn-outline-primary mr-2">
    Add new Exercise!
  </button>
  <div [formGroup]="overallForm" style="padding:20px" class="form-group form-inline">
    <div formArrayName="routineArray"
    *ngFor="let item of routineArray.controls; let i = index;">
      <div style="padding:5px">
        <div [formGroupName]="i">
          <table class=" table table-striped table-responsive shadow border">
            <tr>
              <th style="padding: 4px"></th>
              <th style="padding: 4px"><input class="form-control" formControlName="exerciseName" placeholder="NAME" list="exerciseList"></th>
              <th style="padding: 4px"></th><th style="padding: 4px"></th>
            </tr>
            <tr>
              <th style="padding: 4px">{{i}}</th>
              <th style="padding: 4px"><input class="form-control" formControlName="targetIndex" placeholder="Position" type="number"></th>
              <th style="padding: 4px"><app-create-custom-exercise></app-create-custom-exercise></th>
              <th style="padding: 4px"></th>
            </tr>
            <tr>
              <th style="padding: 4px"></th>
              <th style="padding: 4px"><input class="form-control" formControlName="holdLength" placeholder="Hold Length" ></th>
              <th style="padding: 4px"><input class="form-control" formControlName="reps" placeholder="# Reps"></th>
              <th style="padding: 4px"><input class="form-control" formControlName="sets" placeholder="# Sets"></th>
            </tr>
            <tr>
              <th style="padding: 4px"></th>
              <th style="padding: 4px"><input class="form-control" formControlName="note" placeholder="Note"></th>
              <th style="padding: 4px"><input class="form-control-file" formControlName="file" type="file" (change)="onFileSelected($event)" multiple="multiple"></th>
              <th style="padding: 4px"></th>
            </tr>
          </table>
        <button style="float: right" (click)="deleteExercise(i)" class="btn btn-outline-primary mr-1">Delete</button>
        <button style="float: right" (click)="shiftTowardsStart(i)" class="btn btn-outline-primary mr-1">Up</button>
        <button style="float: right" (click)="shiftTowardsEnd(i)" class="btn btn-outline-primary mr-1">Down</button>
      </div>
      </div>
    </div> 
  </div>
  <button (click)=triggerReorder() class="btn btn-outline-primary mr-1">Reorder</button>
  <button (click)="onSubmit()" class="btn btn-outline-primary mr-1">Submit</button>
</div>