<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <div class ="mr-auto">
    <a class="navbar-brand" href="{{home}}">
        <img src="../../../assets/physical-therapy-icon-hub.png" width="40" height="40" class="d-inline-block align-top" alt="">
        <span class="ml-sm-2 text-light ">Physical Therapy</span>
      </a>
  </div>

  <a class="navbar-brand mr-sm-4" href="{{home}}">
    <img src="../../../assets/home-icon.png" width="40" height="40" class="d-inline-block align-top" alt="">
  </a>
  <a class="navbar-brand mr-sm-4" href="{{home}}">
    <img src="../../../assets/person-icon.png" width="40" height="40" class="d-inline-block align-top" alt="">
  </a>
  <a class="navbar-brand mr-sm-4" href="{{home}}">
    <img src="../../../assets/notification-icon.png" width="40" height="40" class="d-inline-block align-top" alt="">
  </a>
  <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>

</nav>
